{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>Home</title>
    {% bootstrap_css %}   
    {% bootstrap_javascript jquery='full' %}
    
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">    
  </head>
  <body>
    <section class="header">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="#" style="font-size: 10mm; font-weight: 900; font-style: oblique">E-commerce</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto text-right">
              <li class="nav-item ">
                <a class="nav-link active-home" href="#">INÍCIO</a>
              </li>
              <div class="dropdown">
                <li class="nav-item">
                  <a class="nav-link dropdown-toggle" type="button" id="dropdownM" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    CONSULTA
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownM">
                    <a class="dropdown-item"  href="http://127.0.0.1:8000/consulta/0">Planilha dos Produtos</a>
                    <a class="dropdown-item" href="http://127.0.0.1:8000/produto">Adicionar Produto</a>
                  </div>
                </li>
              </div>
              <li class="nav-item">
                <a class="nav-link" href="#">SOBRE NÓS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:8000/contato">NOS CONTATE</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:8000/admin">LOGIN</a>
              </li>
            </ul>
          </div>
        </nav>
        
        </div>
      </div>
    </section>
    <section class="body">
      <div class="container">
        <div class="row banner">
          <div class="col-md-6">
            <p>
              O sucesso é consequência de quanto você se empenha e trabalha duro pelos seus objetivos.
            </p>
            <a href="https://www.linkedin.com/in/allan-diamante/" class="express-btn" style="background: #0073b1;">
              LinkedIn  
            </a>
            <a href="https://github.com/allandiamante" style="background: #010e14;">
              GitHub 
            </a>
          </div>
          </div>
      </div>
    </section>
  </body>
</html>