{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Produto</title>
    {% bootstrap_css %}
    
</head>
<body>
  <section class="header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light" style="">
            <a class="navbar-brand" href="#">Sistema Transporte Web</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" 
            data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" 
            aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto text-right">
                <li class="nav-item">
                  <a class="nav-link active-home" href="../principal/principal.html">HOME</a>
                </li>
                <div class="dropdown">
                  <li class="nav-item">
                    <a class="nav-link dropdown-toggle" type="button" id="dropdownM" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      CONSULTA
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownM">
                      <a class="dropdown-item" href="../consultar corrida/consultar corrida.html">Corrida</a>
                      <a class="dropdown-item" href="../relatorios/relatorio.html">Relatório</a>
                      <a class="dropdown-item" href="../grafico/grafico.html">Gráfico</a>
                      <a class="dropdown-item" href="../Gerenciamento_de_veiculo/gerenciarv.html">Veículo</a>
                      <a class="dropdown-item" href="../gerenciar-cliente/index.html">Cliente</a>
                      <a class="dropdown-item" href="../gerenciar-carga/index.html">Carga</a>
                    </div>
                  </li>
                </div>
                <div class="dropdown">
                  <li class="nav-item">
                    <a class="nav-link dropdown-toggle" type="button" id="dropdownMN" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      REGISTRAR
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMN">
                      <a class="dropdown-item" href="../registrar corrida/Registrar Corrida.html">Corrida</a>
                      <a class="dropdown-item" href="../Cadastrar_veiculo/cadastrov.html">Veículo</a>
                      <a class="dropdown-item" href="../registrar-cliente/index.html">Cliente</a>
                    </div>
                  </li>
                </div>
                <li class="nav-item">
                  <a class="nav-link" href="#">NOS CONTATE</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../perfil/index.html">PERFIL</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../principal nao logado/principal.html">SAIR</a>
                </li>
              </ul>
            </div>
          </nav>
    </div>
</section>
    <div class="container">
        <h1>Produto</h1>
        {% bootstrap_messages %}

        <form action="{% url 'produto' %}" method="post" class="form" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}

            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-dark">Cadastrar</button>
            {% endbuttons %}
        </form>
    </div>
{% bootstrap_javascript jquery='full' %}
</body>
</html>