a{
	color: #fff;
};

body{
    background-color:#FFF8DC;
};

.header{
    background-image: url("/core/static/images/Ativo_1.png");
    background-repeat: no-repeat;
    background-size: 38mm;
    background-color: #8B3A3A
};