a{
	color: #fff;
    font-size: 5mm;
}

.header{
    background-image: url("../images/Ativo_1.png");
    background-repeat: no-repeat;
    background-size: 32mm;
    background-color: rgb(102, 128, 155);
}
body{
    background-color: #f1f1f1 !important;
}