a{
	color: #fff;
    font-size: 5mm;
}

.header{
    background-image: url("../images/Ativo_1.png");
    background-repeat: no-repeat;
    background-size: 32mm;
    background-color: rgb(102, 128, 155);
}
body{
    background-color: #f1f1f1 !important;
}

}
.banner{
    margin-top: 1%;
}
.banner a{
    padding: 0px;
    width: 150px;
    display: inline-block;
    background: #324678;
    text-decoration: none !important;
    color: #fff;
    border: 2px solid lightslategray;
    border-radius: 5px;
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
}
.banner a:hover{
    color: #fff;
}